  <h2><%= I18n.t('layouts.application.searchObjects') %></h2>
  <hr>

	<% @articles.each do |article| %>

	<% if article.busca %>

	<div data-tools="accordion">

		<a href= '<%= "#pane#{article.id}"%>' class="accordion-title btn-n"><%= article.nombre.capitalize %></a>
		<div id= '<%= "pane#{article.id}"%>' class="accordion-panel btn-n">
			<div class="units-row">
				<div class="unit-30">
					<dl>
						<dt><%= I18n.t('articles.index.name')%></dt>
						<dd><%= article.nombre.capitalize%></dd>

						<dt><%= I18n.t('articles.index.upploaded')%></dt>
						<dd> <%= article.user.nombre.capitalize %></dd>

						<dt><%= I18n.t('articles.index.category')%></dt>
						<dd><%= article.category.nombre%></dd>
					</dl>
				</div>
				<div class="unit-30">
					<%= image_tag article.photo.url(:small) %>

				</div>
				<div class="unit-30">
					<dl>
						<dt><%= I18n.t('articles.index.description')%></dt>
						<dd><%= article.descripcion %></dd>
						<dt>tipo</dt>
						<dd>
							<% if article.busca == true %>
							El objeto esta marcado como se busca
							<% else %>
							El objeto esta marcado como "en espera de su dueño"
							<% end %>

						</dd>
					</dl>
				</div>
			</div>

			<%= link_to 'Ver',  article_path(article), :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-smaller btn-blue'%>
			<%= link_to 'Editar', edit_article_path(article), :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-smaller btn-green'%>
			<%= link_to 'Eliminar', article_path(article), method: :delete, data: { confirm: '¿Esta seguro de querer eliminar el objeto ' +article.nombre.capitalize+ '?' }, :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-smaller btn-red'%>

		</div>

	</div>
	<% end %>

	<% end %>
</div>