<h1><%= @current_user.nombre.capitalize %></h1>

<hr>

<nav class="nav-tabs" data-tools="tabs" data-equals="true" data-active='<%="#panel#{@pagina}"%>'>
	<ul>
		<li class="active"><a href='#panel1'> <%= I18n.t('layouts.application.iUploadedObjects') %> </a></li>
		<li><a href="#panel2"> <%= I18n.t('layouts.application.searchObjects') %></a></li>
		<li><a href="#panel3"> <%= I18n.t('layouts.application.petitions')%></a></li>
		<li><a href="#panel4"> <%= I18n.t('layouts.application.notificationsT') %></a></li>
	</ul>
</nav>

<div id="panel1">

<%= render :partial => 'panel1'%>

</div>

<div id="panel2">

<%= render :partial => 'panel2'%>

<div id="panel3">

<%= render :partial => 'panel3'%>

</div>

<div id="panel4">
<%= render :partial => 'panel4'%>
</div>
<!--
<%= @contadorNotificaciones%><br>
<%= @contadorSolicitudes%>
-->






