<div class="units-row">

	<div class="unit-60">


<%= form_for([@article, @petition]) do |f| %>


    <%= f.label :razon %>
    <%= f.text_area :razon %>


</div>
<div class= 'unit-40'>
  <%= f.submit "Enviar", class: "btn btn-green" %> <%= link_to "Cancelar", article_path(@article), class: "btn btn-red" %>
</div>
</div>

<% end %>
