<%= form_for(@article, :html => { :multipart=> 'true'  }) do |e| %>

	<% @article.errors.full_messages.each do |message| %>
	<div class="tools-alert tools-alert-red">
		<strong><%= pluralize(@article.errors.count, " Error, ") %></strong> El <%= message %>
	</div>
	<% end %>




	<ul class="blocks-2">

		<li>

			<fieldset>
				<legend>
					<%= I18n.t('articles.form.typeTittle')%>
				</legend>
				<p><%= I18n.t('articles.form.typeText')%>
				</p>

				<%= e.label :busca do%>
				<%= e.radio_button :busca, '1', :checked => true %>
				<%= I18n.t('articles.form.typeSelect1')%>
				<% end %>
				<br>
				<%= e.label :busca do%>
				<%= e.radio_button :busca, '0' %>
				<%= I18n.t('articles.form.typeSelect2')%>
				<% end %>


			</fieldset>

			<fieldset>
				<legend>
					<%= I18n.t('articles.form.dataTitle')%>
				</legend>
				<div class="forms">
					<%= e.label :nombre do%>
					<%= I18n.t('articles.form.name')%><span class='req'>*</span>
					<%= e.text_field(:nombre, class: 'width-100', :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => I18n.t('articles.form.nameT')) %>
					<% end %>

					<%= e.label :color do %>
					<%= I18n.t('articles.form.color')%>
					<%= e.text_field(:color, class: 'width-100') %>
					<% end %>

					<%= e.label :marca do %>
					<%= I18n.t('articles.form.brand')%><span class='req'>*</span>
					<%= e.text_field(:marca, class: 'width-100', :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => I18n.t('articles.form.brandT')) %>
					<% end %>

					<%= e.label :lugar do %>
					<%= I18n.t('articles.form.place')%><span class="req">*</span>

					<%= e.text_field(:lugar, class: 'width-100', :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => I18n.t('articles.form.placeT')) %>
					<% end %>


					<%= e.label :descripcion do %>
					<%= I18n.t('articles.form.description')%><span class="req">*</span>

					<%= e.text_area(:descripcion, class: 'width-100', :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => I18n.t('articles.form.descriptionT'), :'rows' => '4') %>
					<% end %>

					<%= e.label :categoria do %>
					<%= I18n.t('articles.form.category')%><span ></span>

					<%= e.collection_select(:category_id, @categories, :id, :nombre, {}, {class: "width-100"}) %>
					<% end %>



				</div>
			</fieldset>

		</li>

		<li>



			<fieldset>
				<legend>
					<%= I18n.t('articles.form.picTitle')%>
				</legend>
				<p><%= I18n.t('articles.form.picText')%>
				</p>
				<%= e.file_field(:photo,  :'data-tools' => 'upload') %>
			</fieldset>

			<fieldset>
				<legend>
					<%= I18n.t('articles.form.sendTitle')%>
				</legend>
				<p>
					<%= e.submit I18n.t('articles.form.buttonSend'), class: "btn btn-green" %> <%= link_to I18n.t('articles.form.buttonCancel'), articles_path, class: "btn btn-red" %>
				</p>
			</fieldset>

		</li>
	</ul>


	<% end %>
