	<div class="units-row">
		<div class="unit-70">


			<div class="page-header">
				<h1><%= I18n.t('articles.index.title')%> <small><%= I18n.t('articles.index.titleT')%></small></h1>
			</div>


		</div>
		<div class="unit-push-right ">
			<p> <%= link_to I18n.t('articles.index.buttonNew'), new_article_path, class: "btn btn-blue" %> </p>

		</div>
	</div>


	<% @articlesAll.each do |article| %>



	<div data-tools="accordion">

		<a href= '<%= "#panel#{article.id}"%>' class="accordion-title btn-n"><%= article.nombre.capitalize %></a>
		<div id= '<%= "panel#{article.id}"%>' class="accordion-panel btn-n">
			<div class="units-row">
				<div class="unit-30">
					<dl>
						<dt><%= I18n.t('articles.index.name')%></dt>
						<dd><%= article.nombre.capitalize%></dd>

						<dt><%= I18n.t('articles.index.upploaded')%></dt>
						<dd> <%= article.user.nombre.capitalize %></dd>

						<dt><%= I18n.t('articles.index.category')%></dt>
						<dd><%= article.category.nombre%></dd>
					</dl>
				</div>
				<div class="unit-30">
					<%= image_tag article.photo.url(:small) %>

				</div>
				<div class="unit-30">
					<dl>
						<dt><%= I18n.t('articles.index.description')%></dt>
						<dd><%= article.descripcion %></dd>
					</dl>
				</div>
			</div>

			<%= link_to I18n.t('articles.index.show'),  article_path(article), :'class' => 'btn btn-smaller btn-blue'%>
			<%= link_to I18n.t('articles.index.edit'), edit_article_path(article), :'class' => 'btn btn-smaller btn-green'%>
			<%= link_to I18n.t('articles.index.delete'), article_path(article), method: :delete, data: { confirm:  I18n.t('articles.index.deleteMs') +article.nombre.capitalize+ '?' }, :'class' => 'btn btn-smaller btn-red'%>


		</div>

	</div>

	<% end %>
