	<div class="units-row">
		<div class="unit-70">


			<div class="page-header">
				<h1>Objetos <small>Lista de objetos</small></h1>
			</div>


		</div>
		<div class="unit-push-right ">
			<p> <%= link_to "Subir un nuevo objeto", new_article_path, class: "btn btn-blue" %> </p>

		</div>
	</div>


	<% @articles.each do |article| %>



	<div data-tools="accordion">

		<a href= '<%= "#panel#{article.id}"%>' class="accordion-title btn-n"><%= article.nombre.capitalize %></a>
		<div id= '<%= "panel#{article.id}"%>' class="accordion-panel btn-n">
			<div class="units-row">
				<div class="unit-30">
					<dl>
						<dt>Nombre</dt>
						<dd><%= article.nombre.capitalize%></dd>

						<dt>Lo subio</dt>
						<dd> <%= article.user.nombre.capitalize %></dd>

						<dt>Categoria</dt>
						<dd><%= article.category.nombre%></dd>
					</dl>
				</div>
				<div class="unit-30">
					<%= image_tag article.photo.url(:small) %>

				</div>
				<div class="unit-30">
					<dl>
						<dt>Descripcion</dt>
						<dd><%= article.descripcion %></dd>
					</dl>
				</div>
			</div>

			<%= link_to 'Ver',  article_path(article), :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-smaller btn-blue'%>
			<%= link_to 'Editar', edit_article_path(article), :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-smaller btn-green'%>
			<%= link_to 'Eliminar', article_path(article), method: :delete, data: { confirm: '¿Esta seguro de querer eliminar el objeto ' +article.nombre.capitalize+ '?' }, :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-smaller btn-red'%>


		</div>

	</div>

	<% end %>



