<div class="units-row">

	<div class="unit-60">

		<figure  style="background: white; border-top-right-radius: 5px;
		border-top-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
		border-right: 2px solid #e0e3e5;
		border-bottom: 2px solid #e0e3e5;">
		<%=  link_to image_tag(@article.photo.url()), article_path(@article.id)%>

		<figcaption style="margin-left: 7px;"><%= @article.nombre %></figcaption>
		<p style="margin-left: 7px; margin-bottom: 3px;">
			<small><%= @article.user.usuario %></small> &mdash; <cite><%= @article.category.nombre %></cite>
		</p>

		<!-- 				<div class="units-row" style="margin-bottom: 0px;">
			<div class="unit-push-right">
			<nav class="nav" style="margin-bottom: 0px;">
			<ul>

			<li ><a href="#"><i class="fa fa-eye"></i> Button</a></li>
		</ul>
	</nav>

</div>
</div> -->

</figure>
</div>

<div class="unit-40">

	<fieldset>
		<legend>
			<%= I18n.t('articles.show.infoTitle')%>
		</legend>
		<dl>
			<dt><%= I18n.t('articles.show.name')%></dt>
			<dd><%= @article.nombre.capitalize%></dd>

			<dt><%= I18n.t('articles.show.brand')%></dt>
			<dd><%= @article.marca.capitalize%></dd>

			<dt><%= I18n.t('articles.show.color')%></dt>
			<dd><%= @article.color.capitalize%></dd>

			<dt><%= I18n.t('articles.show.description')%></dt>
			<dd> <%= @article.descripcion %></dd>



			<dt>
				<% if @article.busca %>
				<%= I18n.t('articles.show.placeWanted')%>
				<% else %>
				<%= I18n.t('articles.show.placeFound')%>
				<% end %>
			</dt>
			<dd><%= @article.lugar.capitalize %></dd>



		</dl>
	</fieldset>
	<fieldset>

		<% if @article.user.id != @current_user_id%>

		<% if @article.busca %>
		<legend>
		 <%= I18n.t('articles.show.actionsWantedTitle')%>
		</legend>

		<%if @peticiones.empty?%>

		<p><%= I18n.t('articles.show.actionsWantedText')%></p>

		<%= link_to I18n.t('articles.show.actionsWantedButton'), "#", id: "encontre#{@article.id}", :'class' => 'btn btn-green',  data: {id: "encontre#{@article.id}", title: "¿Encontraste este objeto?", toggle: "modal", content: "#ajax-encontre", tools: "modal", width: "700"}%>

		<% else %>
		<%= I18n.t('articles.show.actionsWantedNo')%>
		<%end%>
		<% else %>

		<legend>
		 <%= I18n.t('articles.show.actionsFoundTitle')%>
		</legend>

		<%if @peticiones.empty?%>

		<p><%= I18n.t('articles.show.actionsFoundText')%></p>

		<%= link_to I18n.t('articles.show.actionsFoundButton'), new_article_petition_path(@article), class: "btn btn-green" %>

		<%else%>
		<%= I18n.t('articles.show.actionsFoundNo')%>
		<%end%>

		<% end %>
		<% end %>

		<% if @article.user.id == @current_user_id%>

		<legend>
		<%= I18n.t('articles.show.actionsMyTitle')%>
		</legend>

			<%= link_to I18n.t('articles.index.show'),  article_path(@article), :'class' => 'btn btn-blue'%>
			<%= link_to I18n.t('articles.index.edit'), edit_article_path(@article), :'class' => 'btn btn-green'%>
			<%= link_to I18n.t('articles.index.delete'), article_path(@article), method: :delete, data: { confirm: I18n.t('articles.index.deleteMs') +@article.nombre.capitalize+ '?' }, :'class' => 'btn btn-red'%>

		<% end %>

	</fieldset>



</div>




</div>

<div id="ajax-encontre" class="modal hide fade" tabindex="-1">
	<div class='modal-header'>

	</div>
	<div class='modal-body'>
		<div class="modal-body-content">Al aceptar enviaras el correo electronico para que el dueño se contacte con tigo.</div>
		<div class="ajax-loader"></div>
	</div>
	<div class='modal-footer'>
	</div>
</div>


<script>
	$(function()
	{
		$("#encontre<%= @article.id%>").on('loading.tools.modal', function(modal)
		{
			this.createCancelButton('Cancelar');

			var buttonAction = this.createActionButton('Aceptar');

			buttonAction.on('click', $.proxy(function()
			{
				window.location.replace("/petitions/encontre/<%= @article.id%>");

				this.modal.close();

			}, this));
		});
	});
</script>