<div class="units-row">

	<div class="unit-60">

		<figure  style="background: white; border-top-right-radius: 5px;
		border-top-left-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;
		border-right: 2px solid #e0e3e5;
		border-bottom: 2px solid #e0e3e5;">
		<%=  link_to image_tag(@article.photo.url()), article_path(@article.id)%>

		<figcaption style="margin-left: 7px;"><%= @article.nombre %></figcaption>
		<p style="margin-left: 7px; margin-bottom: 3px;">
			<small><%= @article.user.usuario %></small> &mdash; <cite><%= @article.category.nombre %></cite>
		</p>

		<!-- 				<div class="units-row" style="margin-bottom: 0px;">
			<div class="unit-push-right">
			<nav class="nav" style="margin-bottom: 0px;">
			<ul>

			<li ><a href="#"><i class="fa fa-eye"></i> Button</a></li>
		</ul>
	</nav>

</div>
</div> -->

</figure>
</div>

<div class="unit-40">

	<fieldset>
		<legend>
			Informacion
		</legend>
		<dl>
			<dt>Nombre</dt>
			<dd><%= @article.nombre.capitalize%></dd>

			<dt>Marca</dt>
			<dd><%= @article.marca.capitalize%></dd>

			<dt>Color</dt>
			<dd><%= @article.color.capitalize%></dd>

			<dt>Descripcion</dt>
			<dd> <%= @article.descripcion %></dd>



			<dt>
				<% if @article.busca %>
				Lugar donde se perdio
				<% else %>
				Lugar donde fue encontrado
				<% end %>
			</dt>
			<dd><%= @article.lugar.capitalize %></dd>



		</dl>
	</fieldset>
	<fieldset>

		<% if @article.user.id != @current_user_id%>

		<% if @article.busca %>
		<legend>
		 ¿Encontraste este objeto?
		</legend>

		<%if @peticiones.empty?%>

		<p>Si encontraste este objeto, puedes hacerle saber al dueño que lo hayaste.</p>

		<%= link_to 'Lo encontre', "#", id: "encontre#{@article.id}", :'class' => 'btn btn-green',  data: {id: "encontre#{@article.id}", title: "¿Encontraste este objeto?", toggle: "modal", content: "#ajax-encontre", tools: "modal", width: "700"}%>

		<% else %>
		Ya le enviaste tus datos a el usuario que lo subio.
		<%end%>
		<% else %>

		<legend>
		 ¿El objeto es tuyo?
		</legend>

		<%if @peticiones.empty?%>

		<p>Si crees que este objeto es tuyo, puedes hacerle saber al dueño que es tuyo.</p>

		<%= link_to "Es mio", new_article_petition_path(@article), class: "btn btn-green" %>

		<%else%>
		Ya solicitaste este objeto al usuario que lo subio.
		<%end%>

		<% end %>
		<% end %>

		<% if @article.user.id == @current_user_id%>

		<legend>
		Acciones sobre el objeto
		</legend>

			<%= link_to 'Ver',  article_path(@article), :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-blue'%>
			<%= link_to 'Editar', edit_article_path(@article), :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-green'%>
			<%= link_to 'Eliminar', article_path(@article), method: :delete, data: { confirm: '¿Esta seguro de querer eliminar el objeto ' +@article.nombre.capitalize+ '?' }, :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Si ya tiene una cuenta', :'class' => 'btn btn-red'%>

		<% end %>

	</fieldset>



</div>




</div>

<div id="ajax-encontre" class="modal hide fade" tabindex="-1">
	<div class='modal-header'>

	</div>
	<div class='modal-body'>
		<div class="modal-body-content">Al aceptar enviaras el correo electronico para que el dueño se contacte con tigo.</div>
		<div class="ajax-loader"></div>
	</div>
	<div class='modal-footer'>
	</div>
</div>


<script>
	$(function()
	{
		$("#encontre<%= @article.id%>").on('loading.tools.modal', function(modal)
		{
			this.createCancelButton('Cancelar');

			var buttonAction = this.createActionButton('Aceptar');

			buttonAction.on('click', $.proxy(function()
			{
				window.location.replace("/petitions/encontre/<%= @article.id%>");

				this.modal.close();

			}, this));
		});
	});
</script>