<div class="units-row">
	<div class="unit-20" >

		<pre><h3>Objetos</h3></pre>

		<nav class="nav nav-stacked " >

			<ul>
				<li ><%= link_to "Encontre un objeto", new_article_path, :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Subir un objeto que hayas encontrado' %></li>
			</ul>
		</nav>
		<div data-tools="navigation-fixed">
			<div data-tools="accordion">
				<a href="#panel1" class="accordion-title">Categorias</a>
				<div id="panel1" class="accordion-panel">
					<nav class="nav nav-stats">
						<% @categories.each do |c| %>
						<ul>

								<li><%= link_to categories_path do %>
								<%= c.nombre %>
								<% end %>
								<sup><%= @articles.where("category_id = '#{c.id}'").count %></sup></li>

						</ul>
						<% end %>
					</nav>
				</div>
			</div>
		</div>
	</div>



	<div class="unit-80">



		<ul class="blocks-4">

			<% @articles.each do |article| %>

					<li <% if @count == 4 %> class="block-first" <% @count = 0 %><% end %>>
						<figure  style="background: #e0e3e5; ">
							<%=  link_to image_tag(article.photo.url()), article_path(article)%>

							<figcaption style="margin-left: 7px;"><%= article.nombre %></figcaption>
							<p style="margin-left: 7px;">
								<small><%= article.user.usuario %></small> &mdash; <cite><%= article.category.nombre %></cite>
							</p>

						</figure>
					</li>
				<% @count +=1 %>
			<% end %>
		</ul>




	</div>
</div>
