<%= form_for(@user, :html => { :class=> 'forms' }) do |e| %> 

<% @user.errors.full_messages.each do |message| %>
<div class="tools-alert tools-alert-red">
	<strong><%= pluralize(@user.errors.count, " Error, ") %></strong> El <%= message %>
</div>
<% end %>


<%= e.label :nombre do %>
Nombre<span class='req'>*</span>
<%= e.text_field(:nombre, class: 'width-100', :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Tu nombre') %>
<% end %>

<%= e.label :apellido do %> Apellido
<%= e.text_field(:apellido, class: 'width-100') %>
<% end %>

<%= e.label :usuario do %>
Usuario<span class='req'>*</span>
<%= e.text_field(:usuario, class: 'width-100', :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'El que usaras para iniciar sesion') %>
<% end %>

<%= e.label :password do %>
Contraseña<span class="req">*</span>

<%= e.text_field(:password, class: 'width-100', :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'La usaras para iniciar sesion') %>
<% end %>


<%= e.label :correo do %>
Correo<span class="req">*</span>

<%= e.text_field(:correo, class: 'width-100', :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => 'Correo electronico') %>
<% end %>

<% if defined?(@permiso_admin) and @permiso_admin %>

<%= e.label :admin do %>
<%= e.check_box (:admin) %>
<% end %>

<% end %>

<p>
	<%= e.submit "Enviar", class: "btn btn-blue" %> <%= link_to "Cancelar", users_path, class: "btn btn-default" %>
</p>

<% end %> 