<div class="units-row">
	<div class="unit-70">


		<div class="page-header">
			<h1><%= I18n.t('users.index.title')%> <small><%= I18n.t('users.index.titleT')%></small></h1>
		</div>


	</div>
	<div class="unit-push-right ">
		<p> <%= link_to I18n.t('users.index.buttonNew'), new_user_path, class: "btn btn-blue" %> </p>

	</div>
</div>

<% @users.each do |user| %>



<div data-tools="accordion">

	<a href= '<%= "##{user.nombre}"%>' class="accordion-title btn-n"><%= user.nombre.capitalize %></a>
	<div id= '<%= "#{user.nombre}"%>' class="accordion-panel btn-n">

		<dl>
			<dt><%= I18n.t('users.formulario.name')%></dt>
			<dd><%= user.nombre.capitalize%></dd>

			<dt><%= I18n.t('users.index.perfil')%></dt>

			<% if user.admin %>
			<dd><%= I18n.t('users.formulario.admin')%></dd>
			<%else %>
			<dd><%= I18n.t('users.index.perfilNoAdmin')%></dd>
			<%end%>

			<dt><%= I18n.t('users.formulario.emailT')%></dt>
			<dd><%= user.correo%></dd>
		</dl>

		<%= link_to I18n.t('articles.index.show'),  user_path(user), :'class' => 'btn btn-smaller btn-blue'%>
		<%= link_to I18n.t('articles.index.edit'), edit_user_path(user), :'class' => 'btn btn-smaller btn-green'%>
		<%= link_to I18n.t('articles.index.delete'), user_path(user), method: :delete, data: { confirm: '¿Esta seguro de querer eliminar el usuario ' +user.nombre.capitalize+ '?' }, :'class' => 'btn btn-smaller btn-red'%>


	</div>

</div>

<% end %>