<p>
	<h2> <%=I18n.t('users.new.title')%> </h2>
</p>


<ul class="blocks-2">

	<li>

		<div class="unit-centered unit-70">
			<%= render :partial => "formulario_guardar_usuarios.html" %>

		</div>

	</li>
	<li>
		<fieldset>
			<legend>
				<%=I18n.t('users.new.logTitle')%>
			</legend>
			<p><%=I18n.t('users.new.logText')%>
			</p>
			<%= link_to I18n.t('layouts.application.signIn'),  login_iniciar_sesion_path, :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => I18n.t('layouts.application.signInT') , :'class' => 'btn btn-blue'%>
		</fieldset>
		<fieldset>
			<legend>
				<%=I18n.t('users.new.findTitle')%>
			</legend>
			<p>
				<%=I18n.t('users.new.findText')%>
			</p>

			<%= link_to I18n.t('users.new.findBotton'), root_path, :'data-theme' => 'blue', :'data-tools' => 'tooltip', :'title' => I18n.t('users.new.findBottonT') , :'class' => 'btn btn-black'%>

		</fieldset>

	</li>
</ul>





