<div class="page-header">
	<h2><%= @user.nombre %><small> <%= I18n.t('users.show.data')%></small></h2>
</div>

<table class='table table-hover' >
	<thead>
		<tr>
			<th><%= I18n.t('users.formulario.name')%></th>
			<th><%= I18n.t('users.formulario.surname')%></th>
			<th><%= I18n.t('users.formulario.user')%></th>
			<th><%= I18n.t('users.formulario.pass')%></th>
			<th><%= I18n.t('users.formulario.email')%></th>
			<th><%= I18n.t('users.formulario.admin')%></th>
			<th colspan="6"></th>
		</tr>
	</thead>

	<tbody>

		<tr>
			<td><%= "#{@user.nombre}" %></td>
			<td><%= "#{@user.apellido}" %></td>
			<td><%= "#{@user.usuario}" %></td>
			<td><%= "#{@user.password}" %></td>
			<td><%= "#{@user.correo}" %></td>
			<%if defined?(@user.admin)%>
			<td><%= "#{@user.admin}" %></td>
			<% else %>
			<td>false</td>
			<% end %>
		</tr>

	</tbody>
</table>

<p> <%= link_to I18n.t('users.show.re'), users_path, class: "btn btn-blue" %> </p>