
 <div class="units-row">
  <div class="unit-centered unit-40">
<fieldset>
			<legend>
				<h2 class="form-signin-heading"><%=  I18n.t('login.iniciar_sesion.logear')  %></h2>
			</legend>
    <%= form_tag({:controller => "login", :action => "iniciar_sesion", :method => "post"}, class: "forms") do %>



    <label>
     <%= text_field_tag "usuario", "", :required => "required", class: "width-100", placeholder: I18n.t('login.iniciar_sesion.user') %>
   </label>

   <label>
     <%= password_field_tag "password", "", :required => "required", class: "width-100", placeholder: I18n.t('login.iniciar_sesion.pass') %>
   </label>

   <%= submit_tag I18n.t('login.iniciar_sesion.log'), class: "btn btn-blue width-100" %>
   <% end %>

   <% if @error_login %>
   <br/>
   <div class="tools-alert tools-alert-red">
    <strong>¡Error!</strong> Usuario o contraseña son incorrectos.
  </div>
  <% end %>
</fieldset>
</div>
</div>




<%
# INSERT INTO "users" ("apellido", "correo", "created_at", "nombre", "password", "updated_at", "usuario", "admin") VALUES
# ("root", "root@root", "2015-05-25 02:15:10.317711", "root", "root", "2015-05-25 02:15:10.317711", "root", "1");
%>